
.choice-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

  .choice-grid div{
    width: 32.5%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid  #dedede;
    background: #fefefe;
    box-sizing: border-box ;
    
}

.choice-grid img{
    width: 200px;
    height: 200px;
}

@media(max-width:700px){
    article{
        width: 95%;
    }
    header div {
        display: none;
    }
}
@media(max-widht:500px){
    .choice-grid div{
      width: 49%;
  }
}

.choice-grid div.selezione{
    background-color:#cfe3ff;
}

.deselected{
    opacity: 0.6;
}

#final-score{
    margin: 20px 0;
    padding: 20px;
}

#final-score h1{
    margin-top: 0;
}

.hidden{
    display: none;
}

#button{
    background-color: #cecece;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button:hover{
    background-color: #e0e0e0;
}